.row > * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    margin: 0 auto;
    margin-top: 50px;
    width: 70%;
    /* background-color: red; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

p {
    margin: 0;
    display: inline-block;
}
