
// website_width_size
$website_width_size__width: 94vw;
$website_width_size__max-width: 175rem;

// website colors 
$text_color_basic: rgb(114, 114, 114);
$text_color_light: rgb(170, 170, 170);

// header 
$header_height: 5rem;

// header & footer 
$background:  radial-gradient(circle, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);


// navbar & mainarea
$background-site_color: #292F4C;
$navbarWidth_when-open: 20rem;
// $background-site_shadow_effect: inset 0 0 10px 3px #00000000;
// $background-site_shadow_effect: inset 0 0 10px 3px rgb(76, 68, 68);


$viewTable_font_size: 1.5rem;
// view table 
$viewTable_title-box_parent_container__justify-content: center;
$viewTable-title-project__width: 15rem;
$viewTable-title-fix__width: 8rem;
$viewTable-actions__width: 4rem;
$viewTable-checkbox__width: max-content;

$viewTable__actions-margin: 0 0.2em;
$viewTable__all-children-margin: 0 1.5em;




