.add-row  {
    margin: 0 auto;
    margin: 50px 0 25px 0;
    width: 100%;
    // background-color: navy;

    
    .add-project-name {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        // background-color: lime;

        button {
            // background-color: #fff;
            border-radius: 5px;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .3rem 1.5rem;
            span {
                display: inline-block;
                transform: translateY(-3px) translateX(-6px);
                font-size: 2.5rem;
            }
        }
        .add-project-btn {
            // @include btn-base-design(#DCFDFD, #67cccc);
            @include btn-base-design(#0083ee, #ffffff);
        }

        .inputs {
            margin-top: 10px;
            width: max-content;
            display: flex;
            flex-direction: column;
            padding: 15px 55px;
            border-radius: 8px;
            background-color: rgb(238, 238, 238);
            overflow: hidden;
            height: 0px;
            opacity: 0;
            transition: all 0.5s;
            border: 0.5px solid rgba(192, 192, 192, 0.452);
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.157);
            
            .project-info, .consumer-info {
                // background-color: rgb(228, 28, 28);
                display: flex;
                flex-direction: column;
                position: relative;
                margin: 20px 0 45px 0;
                
                p {
                    position: absolute;
                    top: -1.5rem;
                    right: .6rem;
                    font-size: 2.2rem;
                    font-weight: bold;
                    font-family: calibri;
                    // background-color: red;
                }
                .project-general,.consumer-general,.consumer-contact {
                    // border: 1px solid black;
                    display: flex;
                    // background-color: lime;
                    input {
                        margin: 15px 0 0 15px;
                        width: max-content;
                        font-size: 17px;
                        border: none;
                        background-color: rgba(255, 0, 0, 0);
                        border-bottom: 0.5px solid silver;
                     }
                     #consumer-select {
                        //  background-color: red;
                         margin: 15px 0 0 15px;
                         font-size: 18px;
                         padding: 0 10px;
                        width: 200px;
                        outline: none;
                        border: none;
                        border-bottom: 0.5px solid silver;
                        background-color: rgba(255, 255, 255, 0);
                        color: #7d7f81;

                        option {
                            color: rgb(36, 36, 36);
                        }

                     }
                }
                
            }
            .submit {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0px 0;
                
                // background-color: red;
                .submit-btn {
                    margin: 0;
                    font-size: 1.7rem ;
                    @include btn-base-design(#009c08, #ffffff);
                }
                .submit-btn:disabled {
                    background-color: silver;
                    transform: translate(0);
                }
            }

            
            
        }
        .inputs-on {
            height: 32rem;
            opacity: 1;
        }
        
    }
}









