.favorites {
    position: fixed;
    top: 10%;
    right: 0;
    // background-color: red;

    &__favorites-icon {
        width: 40px;
        height: 40px;
        border-radius: 35px 0 0 35px;
        cursor: pointer;
        border: 0.5px solid rgba(97, 97, 97, 0.397);
        background-color: #292f4c;
        padding-left: 5px;
        z-index: 5;
        position: relative;
        transition: ease-in-out 0.1s;
        animation: favorites-icon-fade-in 0.7s;
        @keyframes favorites-icon-fade-in {
            0% {
                transform: translateX(150px);
            }
            100% {
                transform: translateX(0);
            }
        }

        i {
            color: rgb(255, 208, 0);
            font-size: 1.9rem;
            height:100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .open {

        }

        .close {
            color: rgb(51, 51, 51);
            font-size: 2.3rem;

            &:hover {
                color: black;
                font-weight: bold;
            }
        }
    }
    &__favorites-icon--box-active {
        border: 0.5px solid #ffffff00;
        background-color: #ffffff00;
    }

    &__favorites-box {
        background-color: rgb(255, 255, 255);
        border: 0.5px solid rgba(146, 146, 146, 0.452);
        box-shadow: 0.5rem 0.5rem 1rem #00000050;
        width: 25rem;
        height: 35rem;
        position: absolute;
        top: -1rem;
        right: 0;
        border-radius: 15px 0 0 15px;
        z-index: 4;
        transition: ease-in-out 0.15s;
        transform: translateX(0);

        &:hover {
            box-shadow: 0.5rem 0.5rem 1rem #00000044;
        }
    }
    &__favorites-box--hidden {
        opacity: 0;
        visibility: hidden;
        transform: translateX(150px);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
        
    }
}