* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
}

.hours-page {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 800px;
    margin-bottom: 300px;

    h1 {
        text-align: center;
        font-size: 45px;
    }

    .box {
        // background-color: rgb(66, 150, 71);
        width: 90%;
        max-width: 1200px;
    }
    .add-project {
        margin: 10px 0;
    }

    .line-bottom {
        // background-color: lime;
        display: flex;
        flex-direction: column;
        

            .dense-padding {
                // background-color: red;
                width: max-content;
                display: flex;
                align-items: center;
                justify-content: center;
                align-self: flex-end;
            
                i {
                    // background-color: rgb(167, 167, 216);
                    margin-bottom: 3px;
                    list-style-type: none;
                }
            }
            .total-data {
                border-top: 0.5px solid #000000;
                // background-color: rgb(236, 236, 236);
                margin: 5px 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: 55px;
                padding: 0 10px;
                
                

                .title-project,
                .title-fix {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    transition: all 0.2s;
                    font-size: 14px;
                    margin-top: 10px;
                    font-weight: bold;
                    // border: 0.5px solid black;
                    

                    p {
                        font-weight: normal;
                    }

                    
                }
                
                .title-project {
                    width: 30%;
                    // background-color: rgb(119, 9, 146);
                }
                .title-fix {
                    width: 10%;
                    // background-color: rgb(207, 160, 58);
                }

            }

        
    }


}

.line-control-constricted {
    margin: 1px 0 !important;
    height: 35px !important;
    transition: all 0.2s;
    
    
    
    .title-fix-constricted , .title-project-constricted {
        // background-color: red;
        transform: scale(0.9);
        transition: all 0.2s;
        button {
            transform: scale(0.85);
            border-radius: 20%;

            transition: all 0.2s;
        }
    }

}