.header {
    height: $header_height;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // background-color: $background-site_color;
    // box-shadow: $background-site_shadow_effect;
    color: rgb(255, 255, 255);


    &__content {
        // background-color: silver;
        width: $website_width_size__width;
        max-width: $website_width_size__max-width;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: flex-end;
        & > :nth-child(n) {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        }

        
        &__left-side {
            .logo-box {
                font-size: 1.7rem;
                padding: .5rem 2rem;
                color: white;
            }
        }

        &__center {
            
        }

        &__right-side {
            // background-color: lime;
            
            & > :nth-child(n) {
                padding: .35rem 1rem;
                font-size: 1.4rem;
                margin: 0 0 0 .8rem;
                cursor: pointer;
                border-radius: 10rem;
                border: .5px solid rgba(0, 0, 0, 0);
                text-decoration: none;
                color: $text_color_basic;
                display: flex;
                justify-content: center;
                align-items: center;
                
                svg {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 .3rem;
                    margin-bottom: 0.5px;
                }

                
                

                &:hover {
                    // border: .5px solid black;
                    // background-color: rgb(82, 82, 82);
                }

            }
            .logout {
               border-radius: 4px;
               transition: all 0.4s;
               border: 0.5px solid rgba(255, 0, 0, 0.007);
               &:hover {
                   box-shadow: inset 0 0 1rem 2rem rgba(255, 160, 160, 0.753), 3px 3px 3px rgba(170, 170, 170, 0.39);
                   border: 0.5px solid rgb(146, 65, 65);
               }
            }
            .navLink {
                .signin-btn {
                    &:hover {
                        color: rgb(55, 69, 223);
                    }
                    svg {
                        font-size: 2rem;
                        margin-left: -1px;
                        transition: all 0.2s;
                    }
                    
                }
                .signup-btn {
                    background-color: #0073ea;
                    color: white;
                    border-radius: 50px;
                    padding: .45rem 1.6rem;
                    border: 0.5px solid rgb(190, 190, 190);
                    box-shadow: 0 0 4px 0.5px #0050a53d;
                    
                    &:hover {
                        background-color: #0068d8;
                    }
                    svg {
                        font-size: 1.5rem;
                    }
                }
            }
        

            .profile-img { 
                padding: 0;
                height: 5rem;
                width: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                display: none;
                img {
                    // display: none;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: .1rem solid rgb(219, 219, 219);
                    box-shadow: 0 0 .1rem .1rem rgba(149, 149, 150, 0.342);
                }
             }
        }

    }



}