
@mixin header-appearance {
    animation: header-fade-in 1s;
    @keyframes header-fade-in {
        0% {
            transform: translateY(-100px); 
            opacity: 0; 
        }
        80% {
            transform: translateY(0);
        }
        100% {
            opacity: 1;
        }
    }
}
@mixin navbar-appearance {
    animation: navbar-fade-in 1s;
    @keyframes navbar-fade-in {
        0% {
            transform: translateX(-100px); 
            // opacity: 0;  
        }
        80% {
            transform: translateX(0);
        }
        100% {
            // opacity: 1; 
        }
    } 
}
@mixin page-appearance {
    animation: page-appearance-fade-in 0.35s;
    @keyframes page-appearance-fade-in {
        0% {
            transform: translateY(5px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}