
@mixin btn-base-design($bgc, $t_color) {

    background-color: $bgc;
    border: none;
    outline: none;
    color: $t_color;
    border-radius: 8px;
    box-shadow: inset 0 0 1rem 0.2rem #4e4e4e2f;
    transition: all .15s ease;
    text-shadow: .1px .1px .1px rgba(0, 0, 0, 0.342);

    &:hover {
        box-shadow: inset 0 0 1rem 0.2rem rgba(61, 61, 61, 0.171);
        transform: translateY(-0.2rem);
    }
    &:active {
        transition: all 0s;
        transform: scale(0.99) translateY(-0.2rem);

    }
}

@mixin form-container-style($height, $width) {
    background-color: rgb(255, 255, 255);
    width: $width;
    height: $height;
    margin-top: 10rem;
    box-shadow: .5rem 1rem 2rem rgba(0, 0, 0, 0.137),
    1rem 2rem 5rem rgba(0, 0, 0, 0.281);
    z-index: 100;
    border: 3px solid rgba(3, 3, 3, 0.164);
    padding: 7rem 4rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 35px;

    &>div[class*="title"] {
        font-size: 3rem;
        font-weight: 600;
    }
}
@mixin form-style {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3rem;
    height: 100%;
}
@mixin err-text-style {
    .err {
        position: absolute;
    bottom: .3rem;
    left: 2rem;
    font-size: 1.1rem;
    color: red;
    display: none;
    line-height: 1rem;
    }
    .err-on {
        display: inline;
    }
    .success-icon,.error-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 2rem;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        transform: scale(0.8);
        // background-color: red;
    }
    .success-icon {
            color: green;
            display: none;
    }
    .error-icon {
        color: red;
        display: none;
    }
    
}
@mixin form-input-style {
    outline: none;
    border: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.246);
    width: 100%;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    direction: ltr;
}
@mixin form-label-style {
    position: absolute;
    font-size: 2rem;
    right: 2rem;
    bottom: 0;
    top: 0;
    margin: auto;
    color: rgb(139, 139, 139);
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin submit-button {
    button {
        background-image: linear-gradient(to right, #1c3480, #403ca7, #6d3eca, #a235e8, #dc00ff);
        margin-top: 5rem;
        width: 100%;
        padding: 1rem 4rem;
        border-radius: 50px;
        border: none;
        outline: none;
        font-size: 1.7rem;
        color: white;
    }
    button:disabled {
        opacity: 0.7;
        color: rgb(133, 133, 133);
        filter: blur(2px);
    }
}