
// website_width_size
$website_width_size__width: 94vw;
$website_width_size__max-width: 175rem;


// header 
$header_height: 5rem;

// header & footer 
$background:  radial-gradient(circle, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);


// navbar & mainarea
$background-site_color: #424242;
$background-site_shadow_effect: inset 0 0 10px 3px rgb(76, 68, 68);


// view table 
$viewTable_font_size: 1.5rem;
$viewTable-title-project__width: 30%;
$viewTable-title-fix__width: 10%;


