.profile {
    @include page-appearance;
    // background-color: red;
    width: 95%;
    max-width: 150rem;;

    &__page-header {
        background-color: red;
        width: 100%;
        height: 35rem;
        margin: 0 auto;
        position: relative;

        
        .img-background-box {
            // border-radius:  5rem 5rem 0 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;
            height: 100%;
            width: 100%;
            @include upload-img-button(-0.5rem, 2rem);
            @include remove-img-button(-0.5rem, 4.5rem);
        }
        .img-profile-box {
            background-color: rgb(255, 255, 255);
            width: 23rem;
            height: 23rem;
            border-radius: 50%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -4rem;
            margin: auto;
            border: 5px solid rgb(255, 255, 255);
            background-position: top;
            background-size: cover;
            @include upload-img-button(2rem, 2rem);
            @include remove-img-button(0.5rem, 4rem);


        }
    }
    &__page-content {
        padding-top: 5.3rem;
        min-height: 50rem;
        width: 100%;
        padding-bottom: 50rem;

        .profile-title {
            width: max-content;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 2rem;

            .full-name {
                // background-color: rgba(0, 0, 255, 0.205);
                color: $text_color_basic;
                font-size: 2.5rem;
                font-weight: bold;
                line-height: 1rem;
            }
            .proffession-name {
                // background-color: rgba(0, 0, 255, 0.205);
                color: $text_color_light;
                font-size: 1.8rem;
            }
        }

        .profile-details {
            // background-color: blue;
            display: flex;
            justify-content: space-around;
            flex-wrap: warp;


           .basic-info, .business-info{
            width: 25%;
            min-width: 350px;
            max-width: 450px;
            min-height: 340px;
            // border-left: 1px solid rgba(143, 143, 143, 0.171);

            ul {
                // background-color: lime;
                height: 100%;
                list-style-type: none;
                padding: 0;

                li {
                    // background-color: rgb(172, 62, 62);
                    // border: 1px solid rgb(253, 159, 253);
                    margin: 0 0 1.2rem 0;
                    height: 3rem;
                    display: flex;
                    align-items: center;

                    &:hover {
                        .icon { 
                            background-color: #676879;
                            color: white;
                        }
                        .text {
                            border: 0.5px dashed rgba(0, 0, 0, 0.295);
                            border-top-right-radius: 8px;
                            border-bottom-right-radius: 8px;

                        }
                    }

                    .icon,.text {
                        display: flex;
                        align-items: center;
                        height: 100%;
                    }
                    .icon {
                        // background-color: blue;
                        width: 38px;
                        // padding-left: 5px;
                        justify-content: center;
                        font-size: 1.8rem;
                        cursor: pointer;
                        // background-color: rgb(190, 190, 190);
                        color: #676879;
                        border: 0.5px solid #67687956;
                        border-radius: 5px 0 0 5px;
                        
                    }
                    .text {
                        // background-color: red;
                        width: 100%;
                        cursor: pointer;
                        font-size: 1.5rem;
                        font-weight: lighter;
                        font-family: calibri;
                        color: $text_color_basic;

                        span {
                            // background-color: lime;
                            margin-left: 1rem;
                            i {
                                font-size: 1.3rem;
                                color: $text_color_empty-values;
                            }
                        }
                        input {
                            border: 1px solid rgba(0, 0, 0, 0.274);
                            border-left: none;
                            // transform: translateX(-9px);
                            height: 100%;
                            width: 100%;
                            padding-left: 0.9rem;
                            border-top-right-radius: 8px;
                            border-bottom-right-radius: 8px;
                            outline: none;
                        }
                    }
                }
            }

           }
           .explanation-info {
            width: 25%;
            min-width: 350px;
            max-width: 450px;
            min-height: max-content;
            height: max-content;
            background-color: rgb(212, 212, 212);
            border: 0.5px solid rgb(201, 201, 201);
            border-radius: 15px;
            padding: 2rem;
            // border-left: 1px solid rgba(143, 143, 143, 0.171);
            .users-type-title {
                text-align: center;
                display: flex;
                justify-content: center;
                font-size: 1.5rem;
                font-weight: bold;
            }

            ul {
                // background-color: lime;
                height: 100%;
                list-style-type: none;
                padding: 0;

                li {
                    margin: 0 0 0.5rem 0;
                    height: 2.5rem;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .icon,.text {
                        display: flex;
                        align-items: center;
                        height: 100%;
                    }
                    .icon {
                        width: 35px;
                        justify-content: center;
                        font-size: 1.5rem;
                        color: #676879;
                        
                    }
                    .basic {
                        color: rgb(85, 67, 67);
                    }
                    .star {
                        color: #0066ff;
                    }
                    .premium {
                        color: #b18200;
                        box-sizing: inset 0 0 2px 2px black;
                    }
                    .text {
                        width: 100%;
                        padding-left: 0;
                        font-size: 1.5rem;
                        font-weight: lighter;
                        font-family: calibri;

                        
                        &:hover {
                            i {
                                transform: translateX(10px);
                            }
                        }

                        i {
                            font-size: 1.3rem;
                            color: $text_color_basic;
                            font-style: unset;
                            transition: all 0.2s;
                        }
                        
                    }
                }
            }

           }
        }


        // edit btn 
        .edit-btn {
            @include profile-buttons(#22cf56, block)
        }
        .edit-btn--edit-hidden {
            display: none;
        }

        // cancel edit
        .cancel-edit-btn {
            @include profile-buttons(#e2503d, block)
        }
        .cancel-edit-btn--hidden {
            display: none;
        }

        // save btn 
        .save-btn {
            @include profile-buttons(#0066ff, none)
        }
        .save-btn--input-change {
            display: block;
        }
        
    }
}