.signup {
    // background-color: rgba(0, 0, 0, 0.377);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    & > :nth-child(n) {
        height: 100%;
    }
    &__background {
        width: 100%;
        height: 100%;
        position: fixed;
    }
    &__content {
        width: max-content;
        display: flex;
        justify-content: center;
        &__form-box {
            @include form-container-style(50rem, 70rem);

            form {
                @include form-style;
                .inputs-area {
                    width: 100%;
                    & > :nth-child(n) {
                        position: relative;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        @include err-text-style;
                        input {
                            @include form-input-style;
                        }
                        label {
                            @include form-label-style;
                        }
                    }
                }
               .submit-box {
                   width: 100%;
                   @include submit-button;
               }
            }
        }
    }
}